page-nfc {
  .body{
    background: mediumturquoise;
  }

    .nfcimg
    {
      top: 35%;
      left: 20%;
      bottom:0;
      position: fixed;
     // margin-top: -50px;
      //margin-left: -100px;
    }
  #footer{
    bottom: 0;
    // left: 0;
    margin-bottom: 20px;
    position: fixed;
    width: 90%;
  }
}
